.section {
	position: relative;
	z-index: 1;
}
.section,
.section .gr_first,
.section .gr_second,
.section .gr_third {
	width: 100%;
	height: 100vh;
}
.section .gr_first,
.section .gr_second,
.section .gr_third {
	position: absolute;
}
.section .gr_second,
.section .gr_third {
	opacity: 0;
}
.section .gr_first {
	z-index: 10;
	animation: section_first 15s infinite;
	animation-delay: 0s;
	background: linear-gradient(#DED1C4, #eee, #eee, #ddaaaa);
}

@keyframes section_first {
	0%   { opacity: 1.0; }
	10%  { opacity: 0.8; }
	20%  { opacity: 0.6; }
	30%  { opacity: 0.4; }
	40%  { opacity: 0.2; }
	50%  { opacity: 0.1; }
	60%  { opacity: 0.2; }
	70%  { opacity: 0.4; }
	80%  { opacity: 0.6; }
	90%  { opacity: 0.8; }
	100% { opacity: 1.0; }
}

.section .gr_third {
	z-index: 30;
	animation: section_third 5s infinite;
	animation-delay: 5s;
	background: linear-gradient(#DED1C4, #eee, #eee, #AECAD1);
}

@keyframes section_third {
	0%   { opacity: 0; }
	10%  { opacity: 0.2; }
	20%  { opacity: 0.4; }
	30%  { opacity: 0.6; }
	40%  { opacity: 0.8; }
	50%  { opacity: 1.0; }
	60%  { opacity: 0.8; }
	70%  { opacity: 0.6; }
	80%  { opacity: 0.4; }
	90%  { opacity: 0.2; }
	100% { opacity: 0; }
}
